# Python
__pycache__/
*.py[cod]
*.so
venv/
.env
*.egg-info/

# Node
node_modules/
.next/
.vercel

# Credentials
credentials.json
token.pickle
*.pickle

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Coverage
.coverage
.pytest_cache/
htmlcov/

# Logs
*.log
